h1 {
  text-align: center;
}
textarea {
  resize: none;
  width: 340px;
  height: 100px;
}
.buttons {
  width: fit-content;
  margin: 0 auto;
}
.one,
.two {
  width: fit-content;
  display: inline-block;
}
.container {
  width: fit-content;
  margin: 0 auto;
}
img {
  width: 435px;
  height: 500px;
}
